body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #404040;
    background-image: url("../images/recipe/silverware.jpg");
}

h1, h2, h3, h4 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

h1 {  /* Main center */
    text-align: center;
}

a {
    color:#A4A400;
}

.user_comment_div {
    font-style: italic;
    background-color: #FFFFA8;
    margin-left: 60px;
}
